li a {
    color: White;
    position: relative;
    left: 55vh;
    top: 40vh;
    padding-bottom: 10vh;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: white url("images/background.gif");
    background-size: cover;
}